<h1>Your sent cards</h1>

<% current_user.sent_gift_cards.each do |card| %>
    <h2><%= link_to "Card # #{card.id}", user_gift_card_path(@current_user.id, card.id)%></h2>
    <h3><%= card.store.name %></h3>
    <p><strong>To: </strong><%= card.recipient.username %></p>
<% end %>